@use '../../index';

.dashboard-container {
  background-color: index.$bg-color;
  min-height: 90vh;
  width: fit-content;

  main {
    padding-top: 100px;
    background-color: index.$bg-color;
    display: flex;

    .users-data-container {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .user-cards-container {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
      }
    }
  }
}