@use '../../index';

.container {
  margin: 0 auto;
}

.log-in-page {
  display: flex;
  align-items: center;
  height: 100vh;

  .log-in {
    width: 100%;
    display: flex;
    height: 100%;
  }

  .left-log-in-page {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: index.$light-dark-primary-color;
    padding: 1.5rem;
    

    .company-logo {
      display: flex;
      gap: 1rem;
      margin-bottom: 5rem;

      .first-logo {
        height: 25px;
        width: 24.75px;
      }

      .second-logo  {
        height: 36px;
        width: 138.44px;
      }
    }
  }

  .right-log-in-page {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: index.$font-family;
    
    
    .form-container {
      width: 70%;
      font-family: inherit;

      h1 {
        font-size: index.$big-font-size;
        font-family: index.$font-family;
        color: index.$first-font-color;
        margin: 0;
      }
  
      p {
        font-size: index.$h2-size;
        color: index.$second-font-color;
        margin-top: .5rem;
        font-family: inherit;
        margin-bottom: 2rem;
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .input-block {
          margin: .8rem 0;
        }

        .wide {
          grid-column: 1/2;
          width: 200%;
        }

        .sign-up-button {
          text-transform: uppercase;
          font-size: index.$normal-size;
          color: index.$primary-color;
          
          padding: 1rem;
          background-color: index.$button-color;
          border-radius: .25rem;
          outline: none;
          border: none;
          font-family: inherit;
          margin-top: 1rem;
          font-weight: 800;
          cursor: pointer;
        }

      }

      .input-block {
        width: 100%;
        margin: 1.9rem 0;
        position: relative;
        box-sizing: inherit;


        input {
          width: 100%;
          line-height: 1rem;
          font-size: 100%;
          background: transparent;
          outline: none;
          border: 1px solid index.$third-font-color;
          border-radius: .25rem;
          text-decoration: none;
          font-size: index.$normal-size;
          padding: 1rem;
          box-sizing: border-box;
        }

        
        label.placeholder {
          position: absolute;
          top: 1rem;
          left: .5rem;
          transition: all 0.3s;
          transform-origin: 0% 0%;
          pointer-events: none;
          font-weight: 200;
          font-family: inherit;
          z-index: 4;
          color: index.$second-font-color;
          opacity: 0.6;
        }

        #togglePassword {
          position: absolute;
          top: 1.2rem;
          right: 1rem;
          color: index.$second-font-color;
          opacity: 0.6;
          color: index.$button-color;
          text-transform: uppercase;
          font-size: index.$small-size;
          cursor: pointer;
          font-weight: 500;
          font-family: index.$font-family;
        }

        input:valid + .placeholder,
        input:focus + .placeholder {
          transform: scale(0.9) translateY(-40px);
        }
      }
      
      .forget-password-link-container {
        margin-bottom: 1rem;

        .forget-password-link {
          color: index.$button-color;
          text-transform: uppercase;
          font-size: index.$small-size;
          cursor: pointer;
          font-weight: 800;
        }

      }

      

      .log-in-button {
        text-transform: uppercase;
        font-size: index.$normal-size;
        color: index.$primary-color;
        width: 100%;
        padding: 1rem;
        background-color: index.$button-color;
        border-radius: .25rem;
        outline: none;
        border: none;
        font-family: inherit;
        margin-top: 1rem;
        font-weight: 800;
        cursor: pointer;
      }

      .no-account {
        font-size: index.$small-size;

        span {
          color: index.$button-color;
          cursor: pointer;
          font-weight: 600;
        }
      }
    }
  }
}

@media screen and (max-width: 1332px) {

  .log-in {
    .right-log-in-page {
    

      .form-container {
  
        .grid {
          grid-template-columns: 1fr;
  
          .wide {
            width: 100%;
            
          }
        }
      }
  
    }

  }

  
  
}

@media screen and (max-width: 960px) {

  .log-in {
    flex-direction: column;
    align-items: center;

    .left-log-in-page {
      width: 100%;
      flex: none;

      .company-logo {
        margin: 1rem 0;
      }
      
      .login-image {
        display: none;
      }
    }

    .right-log-in-page {
      width: 100%;

     
      
    }
  } 
}

@media screen and (max-width: 370px) {

  .log-in {

    .right-log-in-page {

      .form-container {

        h1 {
          font-size: index.$h1-size;
        }

        p {
          font-size: index.$normal-size;
        }

        .grid {
          grid-template-columns: 1fr;
        }
      }

    }
  }
  
  
  
}